html
{
	animation: name1;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
}

@keyframes name1
{
	0% {opacity: 0;}
	100%{opacity: 1;}
}

body
{
	background: url('img3.png')
}

.body{
	padding-top: 100px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 30px;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.profilepic{
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;
}

.row{
	padding-top: 30px;
	padding-bottom: 30px;
}

.topic
{
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	/*border-right: 1px solid grey;*/
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'Lobster', cursive;
}

.titleName
{
	font-family: 'Acme', sans-serif;
	/*font-family: 'Galada', cursive;*/
	font-size: 70px;
	font-weight: normal;
	letter-spacing: 3px;
}

.topicContent
{
	border-left: 1px solid grey;
	line-height: 1.5;
	font-size: 30px;
	font-family: 'Markazi Text', serif;
}

.topicContentGithub
{
	text-align: center;
	line-height: 1.5;
	font-size: 30px;
	font-family: 'Markazi Text', serif;

}

.github
{
	margin-top: 35px;
	margin-bottom: 35px;
}

.footer
{
	background: #161616;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact
{
	text-align: center;
}

.contact button
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

button
{
	padding: 5px 5px;
	border: 1px solid grey;
	background: transparent;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.containerSkills {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 21px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 75%; background-color: #f44336;} /* Red */
.node {width: 60%; background-color: #808080;} /* Dark Grey */

.topicContent p
{
	padding-top: 10px;
}
